<div class="container">
</br>
 <form action="/posts" method="post">
    <input type = "text" placeholder = "title" name = "title">
    <input type = "textarea" placeholder = "body" name = "body">
    <input type = "textarea" placeholder = "tag" name = "tag">
    <input type = "Submit" value = "Create New Post">
</form><br>

<br>

</div>