<div class="container">

  <a href="/posts/new"><button>New post</button></a>


<% @posts.each do |x| %>
<h2><a href= "/posts/<%= x.id %>"><%= x.title %></a></h2>
</br>
  <p><%= x.body %></p>
  <% x.tags.each do |tag| %>
    <p><%= tag.name %></p>
  <%end%>
  <p> This post was created on <%=x.created_at%> </p>
   <form action="/posts/<%= x.id %>" method="post">
    <input type ="hidden" name="_method" value= "delete">
    <input type = "Submit" value = "Delete">
</form><br>
<%end%>


</div>
